[basic]
filename_in   = new_laser_mir.xlsm
filename_out  = csv_laser_mir.csv
filename_old  = old_laser_mir.xlsm
sheetname     =

                            #     !!!  ВАЖНО !!!    Имена полей должны быть lowercase !
[cols_in]                   # Проставить номер импортируемым колонкам. Остальным - пусто
код_         = 1
группа_      = 1
подгруппа    = 2
столбец d    = 4
столбец e    = 5
цена2        = 7
цена1        = 8  # Столбец H, если цифр нет, то Столбец G
столбец i    = 9
столбец j    = 10
столбец l    = 12

[cols_out]                  # Выводимым колонкам проставить названия входных полей
Код         = код_
Закупка     = цена1
Группа      = группа_
Подгруппа   = подгруппа
Наименование = группа_ подгруппа Столбец d
Описание = Столбец d +  Столбец e
Наличие =  Столбец i / Столбец j / Столбец l
?           = ?

Нал =  Столбец I / рез.: Столбец J / транзит:  Столбец L
